<div class="fi-mu-list" data-matchesdate="20180614">
    <div class="fi-mu-list__head">
      <span class="fi-mu-list__head__date">
        Thursday
        14
        June
      </span>
    </div>

    <a href="/worldcup/matches/match/300331503/" class="fi-mu__link">
    <div data-id="300331503" data-id-ifes="108549" data-status="1" class="fi-mu result fi-mu-national result">
        <div class="fi-mu__info">
            <div class="fi-mu__info__datetime" data-utcdate="2018-06-14T03:00:00.000Z">
                14 Jun 2018 - 18:00
                <span class="fi-mu__info__localtime">Local time</span>
            </div>
            <div class="fi__info__datetime--abbr">
                14 Jun 2018
            </div>
            <div class="fi-groupPhase fi__info__group fi-ltr--force">Group A</div>
            <div class="fi__info__location">
                <div class="fi__info__stadium">Luzhniki Stadium</div>
                <div class="fi__info__venue">Moscow</div>
            </div>
            <div class="fi__info__matchnumber">
                <span>Match</span>
                <span>1</span>
            </div>
        </div>

        <div class="fi-mu__m">
            <div class="fi-t fi-i--4 home" data-team-id="43965">
                <div class="fi-t__i ">
                    <img src="https://api.fifa.com/api/v1/picture/flags-fwc2018-4/rus" alt="RUS" title="RUS" class="fi-RUS fi-flag--4">
                </div>
                <div class="fi-t__n">
                    <span class="fi-t__nText ">Russia</span>
                    <span class="fi-t__nTri">RUS</span>
                </div>
            </div>
            <div class="fi-s-wrap">
                <div class="fi-s">
                    <div>
                        <span class="fi-s__matchDate">14 June</span>
                    </div>

                    <div class="fi-s__score fi-s__date-HHmm" data-timeutc="15:00" data-timeshiftutc="180" data-daymonthutc="1406" data-timelocal="18:00">
                        <span class="fi-s__scoreText">5-0</span>
                    </div>
                </div>
            </div>
            <div class="fi-t fi-i--4 away" data-team-id="43835">
                <div class="fi-t__i ">
                    <img src="https://api.fifa.com/api/v1/picture/flags-fwc2018-4/ksa" alt="KSA" title="KSA" class="fi-KSA fi-flag--4">
                </div>
                <div class="fi-t__n">
                    <span class="fi-t__nText ">Saudi Arabia</span>
                    <span class="fi-t__nTri">KSA</span>
                </div>
            </div>
        </div>
    </div>
    </a>
</div>